/* Chrome, Safari, Opera */
@-webkit-keyframes myfirst { from { background: red; }
  to { background: yellow; } }

/* Standard syntax */
@keyframes myfirst { from { background: red; }
  to { background: yellow; } }
