/***********************************************************************************/
/******** Begin CSS Animation Stylesheet *******************************************/
/***********************************************************************************/

/** Cover Page ****************************/
/** BG Rotate ********/

@keyframes spin {
  from { transform: scale3d(2,2,1) rotateZ(0deg);  }
  to { transform: scale3d(2,2,1) rotateZ(360deg); }
  }
@-webkit-keyframes spin {
  from { -webkit-transform: scale3d(2,2,1) rotateZ(0deg); }
  to { -webkit-transform: scale3d(2,2,1) rotateZ(360deg); }
  }
  
/** Begin Page ****************************/

/** Title ***********/
/*
@-webkit-keyframes scale_title {
0% {font-size:92px; top:162px;}
100% {font-size:72px; top:170px;}
}
@-webkit-keyframes unscale_title {
0% {font-size:72px; top:170px;}
100% {font-size:92px; top:162px;}
}
*/

@-webkit-keyframes scale_title {
0% {-webkit-transform: scale(1.2, 1.2)}
100% {-webkit-transform: scale(1,1)}
  }
@-webkit-keyframes unscale_title {
0% {-webkit-transform: scale(1,1)}
100% {-webkit-transform: scale(1.2, 1.2)}
  }

/** Cutout ***********/
@-webkit-keyframes rotate_in_right {
0% { -webkit-transform:rotate(-60deg);}
100% { -webkit-transform:rotate(0deg);} 
  }
@-webkit-keyframes unrotate_in_right {
0% { -webkit-transform:rotate(0deg);}
100% { -webkit-transform:rotate(-60deg); }
  }


/** Instructions Out ***********/
@-webkit-keyframes fade_out {
0% {opacity:1}
100% {opacity:0}
  }

 
/** SW Page ****************************/

/** Title ***********/
@-webkit-keyframes unfade_title {
0% {opacity: 1 }
100% {opacity: 0.25 }
  }
@-webkit-keyframes fade_title {
0% {opacity: 0.25}
100% {opacity: 1}
  }

/** Cutout ***********/
@-webkit-keyframes unslide_in {
0% {margin-top:200px}
100% {margin-top:-40px} 
  }
@-webkit-keyframes slide_in {
0% {margin-top:-40px}
100% {margin-top:200px} 
  }
  
/** Queen Page ****************************/

/** Title ***********/
@-webkit-keyframes skew_title {
0% { -webkit-transform:skewX(1deg);}
100% { -webkit-transform:skewX(0deg);}
  }
@-webkit-keyframes unskew_title {
0% { -webkit-transform:skewX(0deg);}
100% { -webkit-transform:skewX(1deg);}
  }

/** Cutout ***********/
/*
@-webkit-keyframes reflect {
0% { -webkit-transform:rotateY(180deg)}
100% { -webkit-transform:rotateY(0deg)} 
  }
*/
/*
@-webkit-keyframes skew_cutout {
0% { -webkit-transform:skewX(4deg);}
100% { -webkit-transform:skewX(0deg);}
  }
@-webkit-keyframes unskew_cutout {
0% { -webkit-transform:skewX(0deg);}
100% { -webkit-transform:skewX(4deg);}
  }
*/
@-webkit-keyframes fatten {
0% { -webkit-transform:scale(1.05,1);}
100% { -webkit-transform:scale(1,1);}
  }
@-webkit-keyframes unfatten {
0% { -webkit-transform:scale(1,1);}
100% { -webkit-transform:scale(1.05,1);}
  }
  
/** Huntsman Page ****************************/

/** Title ***********/

/** Cutout ***********/
@-webkit-keyframes slide_up {
0% {margin-top:450px}
100% {margin-top:0px}
  }
@-webkit-keyframes unslide_up {
0% {margin-top:0px}
100% {margin-top:450px}
  }


/** General ****************************/
  
/** Factoid Bar Glow ****************************/  
@-webkit-keyframes textcolormorph
{
0%    {background-color: rgba($blue,0.8);}
20%   {background-color: rgba($blue,0.8);}
50%   {background-color: rgba(102,15,255,0.8);}
80%   {background-color: rgba($blue,0.8)}
100%  {background-color: rgba($blue,0.8);}
}



/*
@-webkit-keyframes textcolormorph
{
0%    {background-color: rgba($blue,0.8);}
10%   {background-color: rgba($blue,0.8);}
25%   {background-color: rgba(102,15,255,0.8);}
40%   {background-color: rgba($blue,0.8);}
60%   {background-color: rgba($blue,0.8);}
75%   {background-color: rgba(9,6,255,0.8);}
90%   {background-color: rgba($blue,0.8)}
100%  {background-color: rgba($blue,0.8)}
}
*/
/*
@-webkit-keyframes textcolormorph
{
0%     {background-color: rgba($blue,0.8);}
25%    {background-color: rgba(102,15,255,0.8);}
50%    {background-color: rgba($blue,0.8);}
75%    {background-color: rgba(9,6,255,0.8);}
100%   {background-color: rgba($blue,0.8);}
}
*/


/******** End CSS Animation Stylesheet *******************************/

