/***********************************************************************************/
/******** Begin CSS Animation Stylesheet *******************************************/
/***********************************************************************************/

/** Cover Page ****************************/
/** BG Rotate ********/

@keyframes spin {
  from { transform: scale3d(2,2,1) rotateZ(0deg);  }
  to { transform: scale3d(2,2,1) rotateZ(360deg); }
  }
@-webkit-keyframes spin {
  from { -webkit-transform: scale3d(2,2,1) rotateZ(0deg); }
  to { -webkit-transform: scale3d(2,2,1) rotateZ(360deg); }
  }
  
/** Begin Page ****************************/
@-webkit-keyframes scale_title {
0% {-webkit-transform: scale(1.2, 1.2)}
100% {-webkit-transform: scale(1,1)}
  }
@-webkit-keyframes unscale_title {
0% {-webkit-transform: scale(1,1)}
100% {-webkit-transform: scale(1.2, 1.2)}
  }

/** Cutout ***********/
@-webkit-keyframes rotate_in_right {
0% { -webkit-transform:rotate(-60deg);}
100% { -webkit-transform:rotate(0deg);} 
  }
@-webkit-keyframes unrotate_in_right {
0% { -webkit-transform:rotate(0deg);}
100% { -webkit-transform:rotate(-60deg); }
  }

 
/** SW Page ****************************/

/** Cutout ***********/
@-webkit-keyframes unslide_in {
0% {margin-top:200px}
100% {margin-top:-45px} 
  }
@-webkit-keyframes slide_in {
0% {margin-top:-45px}
100% {margin-top:200px} 
  }
  
/** Queen / Moral Pages ****************************/
@-webkit-keyframes fatten {
0% { -webkit-transform:scale(1.05,1);}
100% { -webkit-transform:scale(1,1);}
  }
@-webkit-keyframes unfatten {
0% { -webkit-transform:scale(1,1);}
100% { -webkit-transform:scale(1.05,1);}
  }
  
/** Huntsman Page ****************************/
@-webkit-keyframes slide_up {
0% {-webkit-transform:translate(85px, 45px);}
100% {-webkit-transform:translate(0px,0px);}
  }
@-webkit-keyframes unslide_up {
0% {-webkit-transform:translate(0px,0px);}
100% {-webkit-transform:translate(85px, 45px);}
  }
  
/** Dwarves Page ****************************/
@-webkit-keyframes scoot_in {
0% {-webkit-transform:translate(240px,0px);}
100% {-webkit-transform:translate(0px,0px);} 
  }
@-webkit-keyframes unscoot_in {
0% {-webkit-transform:translate(0px,0px);}
100% {-webkit-transform:translate(0px,0px);}
  }


/** King Page ****************************/
@-webkit-keyframes fade_in_cutout {
/* 100% {-webkit-filter: saturate(0) brightness(1.5) contrast(.25)} */
0% {-webkit-filter: opacity(1); -webkit-transform:translate(0px,0px);}
100% {-webkit-filter: opacity(0.75); -webkit-transform:translate(0px,60px);}
  }
@-webkit-keyframes unfade_in_cutout {
0% {-webkit-filter: opacity(0.75); -webkit-transform:translate(0px,60px)}
100% {-webkit-filter:opacity(1); -webkit-transform:translate(0px,0px);}
  }
  
/** Sin Page ****************************/
@-webkit-keyframes angle_cutout {
0% {-webkit-transform: translate(93px,93px);}
100% {-webkit-transform: translate(0px,0px);}
  }
@-webkit-keyframes unangle_cutout {
0% {-webkit-transform: translate(0px,0px);}
100% {-webkit-transform: translate(93px,93px);}
  }
  
/** Prince Page ****************************/
@-webkit-keyframes desaturate_cutout {
0% {-webkit-filter: saturate(1.5); -webkit-transform: translate(-15px,0px);}
100% {-webkit-filter: saturate(0.75); -webkit-transform: translate(0px,0px);}
  }
@-webkit-keyframes undesaturate_cutout {
0% {-webkit-filter: saturate(0.75); -webkit-transform: translate(0px,0px);}
100% {-webkit-filter: saturate(1.5); -webkit-transform: translate(-15px,0px);}
  }
  


/** General ****************************/
  
/** Factoid Bar Glow ****************************/  
@-webkit-keyframes unhide_title {
0% {-webkit-filter: opacity(0);}
100% {-webkit-filter: opacity(1);}
  }
@-webkit-keyframes hide_title {
0% {-webkit-filter: opacity(1);}
100% {-webkit-filter: opacity(0);}
  }
  
  
@-webkit-keyframes textcolormorph {
0%    {background-color: rgba($blue,0.8);}
20%   {background-color: rgba($blue,0.8);}
50%   {background-color: rgba(102,15,255,0.8);}
80%   {background-color: rgba($blue,0.8)}
100%  {background-color: rgba($blue,0.8);}
}



/*
@-webkit-keyframes textcolormorph
{
0%    {background-color: rgba($blue,0.8);}
10%   {background-color: rgba($blue,0.8);}
25%   {background-color: rgba(102,15,255,0.8);}
40%   {background-color: rgba($blue,0.8);}
60%   {background-color: rgba($blue,0.8);}
75%   {background-color: rgba(9,6,255,0.8);}
90%   {background-color: rgba($blue,0.8)}
100%  {background-color: rgba($blue,0.8)}
}
*/
/*
@-webkit-keyframes textcolormorph
{
0%     {background-color: rgba($blue,0.8);}
25%    {background-color: rgba(102,15,255,0.8);}
50%    {background-color: rgba($blue,0.8);}
75%    {background-color: rgba(9,6,255,0.8);}
100%   {background-color: rgba($blue,0.8);}
}
*/


/******** End CSS Animation Stylesheet *******************************/

