html, body, div, span, p, a, del, em, img, ol, ul, li, fieldset, form, label {
	margin: 0;
	padding: 0;
	border: 0;
  }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
  }

html, body {
	min-height:100%;
  background-color: #000;
  text-align: left;
  width:768px;
  }

body {
	background:#fff;
	background-attachment:fixed;
  }

.page {
  width:768px;
	height:1024px;
	top:0px;
	border-bottom: 2px solid $light-gray;
	
  h1 {
    top:100px;
    padding:50px;
  	-webkit-transform-origin:0 0;
  	-moz-transform-origin:0 0;
  	-ms-transform-origin:0 0;
  	-o-transform-origin:0 0;
  	transform-origin:0 0;
  	}
  	
  h2 {
  	}	  	
	}
	
.page-nav {
  top:0px;
  position: relative;
  height: 60px;
  width: 100%;  
  }
  
.nav-icon {
   background-color: rgba(0,0,0,0.15);
   height:60px;
   width: 60px;
   border-radius: 30px;
   position: absolute;
   }
   
.nav-icon:hover, .nav-icon:active {
   background-color: rgba(0,255,0,0.15);
   background-color: rgba(0,0,0,0.75);
   }
  
.previous { left: 30px; }    
.next { right: 30px; }  
.center { right: 354px; }    
.beginning { left: 100px; } 
.close { right: 20px; }    
  
.flip-horiz {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1); 
  }
  
.flip-vert {
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1); 
  }
	
.cutout {
  width: 100%;
  position:relative;
  top:0px;  
  }

.factoid {
  z-index: 100;
  position: absolute;
  /* background-color: $factoid-color; */
  -webkit-animation: textcolormorph 10s infinite ease-in-out;
  animation: textcolormorph 10s infinite ease-in-out;
  animation-duration: 5s;
  animation-play-state:paused;
  -webkit-animation-play-state:paused;
  
  p { 
    padding:26px; 
    padding-bottom: 35px;
    display: block;
    font-family: $sans-type;
    font-weight: 700;
    color:#fff;
    font-size: 17px;
    letter-spacing: 0.025em;
    line-height: 1.25em;
    }
  
  }
  
.factoid.hide {
  p {display: none;}
  animation-play-state:running;
  -webkit-animation-play-state:running;
  }
    
.modal {
  display: none;
  width: 708px;
  height: 956px;
  background: $paper-color;
  padding: 15px;
  padding-bottom: 20px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  }
  
.inset-story {
  width:600px;
  height:914px;
  position: fixed;
  top:20px;
  left: 50px;
  overflow: scroll;
  padding: 80px 100px 0 0;
  
  p {  
    font-family: $serif-type;
    color:$story-color;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.175;
    line-height: 1.35;
    margin-bottom: 12px;
    letter-spacing: 0.0125em;
    }  
    
  p:last-child {margin-bottom: 100px}
  }
  
.story-fader  {
  width: 600px;
  height: 80px;
  position: absolute;
  left:30px;
  }
  
.story-fader.top {
    top:0;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,rgba($paper-color,1)), color-stop(100%,rgba($paper-color,0)));
    background: -webkit-linear-gradient(top, rgba($paper-color,1) 50%,rgba($paper-color,0) 100%);
    background: linear-gradient(to bottom, rgba($paper-color,1) 50%,rgba($paper-color,0) 100%);
    }
  
.story-fader.bottom {
    bottom:0;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(50%,rgba($paper-color,1)), color-stop(100%,rgba($paper-color,0)));
    background: -webkit-linear-gradient(bottom, rgba($paper-color,1) 50%,rgba($paper-color,0) 100%);
    background: linear-gradient(to top, rgba($paper-color,1) 50%,rgba($paper-color,0) 100%);
    }

/** Page-specific *******/

.icon-positioner {}
.icon-field {
  position: relative;
  width: 768px;
  height: 1024px
  }

.mini-icons {
  height: 60px;
  img {height:100%}
  
  }
  
  
.button .closed {
  background-color: $button-color;
  width:20%;
  height:90px;
  left:40%;
  top:550px;
  }  


.svg-draw {
  fill:none;
  stroke-width:7;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:4;
  stroke-opacity:1;
  stroke-dasharray:6000;
  stroke-dashoffset:0;      
  }
  


.back {z-index:1 !important;}
.middle {z-index:25 !important;}
.front {z-index:50 !important;}
  
