/***********************************************************************************/
/******** Begin Page Layout Stylesheet *********************************************/
/***********************************************************************************/

#progress {
  /*width: 6px;
	height:1024px;
  right:0;*/
  width:768px;
  height:12px;
  bottom:0;
	background:#444;
	z-index:51;
  }

	
#cover {
  }
  
#begin {
  h2 {    
    top:120px;
    left: 60px;
  	-webkit-transform-origin:0 0;
  	transform-origin:0 0;
  	}  	
  .cutout {
    -webkit-transform:rotate(0deg);
  	transform:rotate(0deg); 
  	-webkit-transform-origin:0 0;
  	transform-origin:0 0; 
  	top: -70px; 
    }  	
  .icon {
    position: absolute;
    top:560px;
    right:56px;
    }        
  #instructions {
    width: 600px;
    left: 41px;
    top:195px;
    opacity: 0;
    }     
  #factoid02 {
    width: 670px;
    height: 32px;
    top: 164px;
    left: 0px;    
    p {
      padding-top: 72px;
      margin-left: 36px}
    } 
  .history {
    width: 615px;
    left: 42px;
    top:195px;
/*     p:first-child {background-color: #fff} */
   }
  
  }

#snowwhite {
  /*
.svg-draw {
    position: absolute;
    top: 720px;
    }
*/
  h2 {    
    width: 600px;
    top:682px;
    left: 60px;
  	-webkit-transform-origin:0 0;
  	transform-origin:0 0;
    -webkit-transform:rotate(-90deg);
  	transform:rotate(-90deg);
  	}  	
  .icon {
    position: absolute;
    top:342px;
    right:14px;
    }       
  #factoid03 {
    width: 416px;
    height: 32px;
    top: 215px;
    right: 0px;
    }   
  .hideshow-text {
    width: 520px;
    left: 149px;
    top: 562px;
   }
  }

#queen {  
  h2 {    
    width: 500px;
    top:82px;
    left: 256px;
    left: 310px;
    top: 96px;
    left: 208px;
  	}  	
/*
  #drag2 {
    position: absolute;
    top:780px;
    left:70px;
    width:580px;
    img {
      -webkit-transform: rotate(-15deg);
      display: block;
      }
*/
  .icon {
    position: absolute;
    top:770px;
    left:90px;
    top:690px;
    left:495px;
    width:580px;
    svg {
      -webkit-transform: rotate(-36deg);
      display: block;
      }
    }    
  #factoid04 {
    width: 32px;
    height: 260px;
    top: 488px;
    left: 0px;   
    p {width:320px}    
    }   
  .hideshow-text {
    width: 680px;
    left: 59px;
    top: 400px;
   } 
  }
  
#huntsman {  
  h2 {    
    width: 700px;
    top:103px;
    left: 60px;
    }
  .icon {
    position: absolute;
    top:642px;
    left:270px;
    }       
  #factoid05 {
    width: 395px;
    height:32px;
    top: 312px;
    left: 0px;
    }
  .hideshow-text {
    width: 500px;
    left: 44px;
    top:450px;
   } 
  }
  
#dwarves {    
  h2 {    
    width: 600px;
    top:309px;
    left: 300px;
    -webkit-transform: rotate(90deg);
  	}  	
  .icon {
    position: absolute;
    top:516px;
    left:172px;
    }   
  #factoid06 {
    width: 32px;
    height: 436px;
    height: 411px;
    top: 98px;
    right: 0px;
    p {width:360px}
    }
  .hideshow-text {
    width: 620px;
    left: 133px;
    top:650px;
   } 
  }

#king {    
  h2 {    
    width: 400px;
    top:125px;
    left:178px;
    text-align: center;
  	}  	
    h2.second { 
    top:214px;   
    left:188px;
  	}  	
  .icon {
    position: absolute;
    top:461px;
    left:34.5%;
    }       
  #factoid07 {
    width: 50%;
    height:32px;
    top: 154px;
    left: 25%;
    p {padding-top: 180px;}
    } 
  .hideshow-text {
    width: 740px;
    left: 20px;
    top:40px;
   }   
  }

#sin {  
  h2 {    
    top:570px;
    left:-116px;
    -webkit-transform: rotate(-90deg);
  	}  	
  .icon {
    position: absolute;
    top: 7%;
    left:33%;
    }    
  .story {
    width: 510px;
    left: 175px;
    left: 155px;
    top:1024px;
    }    
  #factoid08 {
    width: 330px;
    height:32px;
    top: 635px;
    right: 0px;
    } 
  .hideshow-text {
    width: 366px;
    width: 440px;
    width: 680px;
    left: 20px;
    top:196px;
   }   
  }

#prince {    
  h2 {    
    width: 500px;
    top:448px;
    left:32px;
  	}  	
  .icon {
    position: absolute;
    top: 15%;
    left:32%;
    -webkit-transform: rotate(-4deg); 
    }     
  #factoid09 {
    width: 32px;
    height: 133px;
    top: 724px;
    right: 0px;
    p {width:550px;}
    }
  .hideshow-text {
    width: 658px;
    left: 12px;
    top:410px;
   }      
  }

#moral {
  h2 {    
    width: 480px;
    top:154px;
    left:-48px;
    -webkit-transform:rotate(90deg);
  	}
  .icon {
    position: absolute;
    top: 52%;
    left:31%;
    -webkit-transform: rotate(0deg); 
    }
  .story {
    width: 645px;
    left: 39px;
    left: 19px;
    top:1024px;
    }   
  #factoid10 {
    width: 300px;
    height: 32px;
    top: 693px;
    right: 0px;
    }
  .hideshow-text {
    width: 460px;
    left: 146px;
    left: 236px;
    top:20px;
   }  
  }

#end {
  h2 {    
    width: 50%;
    top:45%;
    left:25%;
    text-align: center;
  	}  	
  .icon {
    position: absolute;
    top: 19%;
    left:34%;
    }
  #factoid11 {
    width: 430px;
    height:32px;
    top: 310px;
    left: 170px;
    }
  .hideshow-text {
    width: 390px;
    left: 10px;
    top:360px;
   }  
  }
  
/******** End Page Layout Stylesheet *********************************/