/***********************************************************************************/
/******** Begin Type Stylesheet ****************************************************/
/***********************************************************************************/



html, body, div, span, p, a, del, em, img, ol, ul, li, fieldset, form, label {
	font-size: 100%;
	vertical-align: baseline;
  }


html, body {
	line-height: 1.2em;
	font-family:$sans-type;
  text-align: left;
  }
  
p {
  font-family: $serif-type;
  color:$story-color;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.35;
  margin: 0;
  margin-bottom: 12px;
  letter-spacing: 0.0125em;
  }  
  
.button p {
  font-family: $sans-type;
  text-align: center;
  padding:30px;
	color:white;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  }
  
.story p {
  display: inline; /* To make white hug text */
  background-color: $story-bg-color;
  background-color: rgba(255,255,255,0.75);
  &:first-child {
    margin-top: 12px;
    }
  }

p.hideshow {
  color: rgba($red,0.8);
  opacity: 1;
  background-color: #fff;
  }
  
p.hideshow:first-child {background-color: rgba(0,0,0,0)}
  
div.story {  
  padding: 9px;
  padding-left: 20px;
/*   background-color: $story-bg-color; */

  .line-break {
    height: 12px;  
    }

  }
  
  
h1, h2 {
  font-family: $sans-type;
  color:$text-color;
  font-weight: 400;
  padding: 0;
  margin: 0;
  }

h1 {
	font-size:6em;
	margin:0;
  }


h2 {
	color:inherit;
	font-size:5em;
	line-height: 1.125em;
	letter-spacing: 0.009em;
  position: absolute;
  }

h2:first-child {margin-top:0;} 
  
.button p a {
  font-family: $sans-type;
  color: #fff;
  text-decoration: none;
  }

/******** End Type Stylesheet ****************************************/

