/***********************************************************************************/
/******** Begin Variables **********************************************************/
/***********************************************************************************/


$page-color-dark: rgba(0,0,0,0.025);
$page-color-light: rgba(255,255,255,1);
$paper-color: rgb(247,246,242);
$paper-color: rgb(242,240,233);
$paper-color: rgb(255,255,255);

$red: rgb(231,41,0);
$light-blue: rgb(49,155,253);
$blue: rgb(2,111,195);
$purple: rgb(102,15,255);
$light-gray: #ccc;

$button-color: rgba($red,1);
$factoid-color: rgba($blue,0.8);

$history-color:  rgba(0,0,0,1);
$history-bg-color: rgba(233,197,129,0.35);
$history-bg-color: rgba(255,255,255,0.75);

$story-color:  rgba(0,0,0,1);
$story-bg-color: rgba(233,197,129,0.35);

$sans-type: "Helvetica Neue", Helvetica, Arial, serif;
$serif-type: "Arnhem", Georgia, serif;

$text-color: rgba(0,0,0,1);

$animate-in: 1s ease-out 1s both;
$animate-out: 1s ease-out 0s both;

/******** End Variables **********************************************/

