/***********************************************************************************/
/******** Begin Variables **********************************************************/
/***********************************************************************************/


$page-color-dark: rgba(0,0,0,0.025);
$page-color-light: rgba(255,255,255,1);
$paper-color: rgb(247,246,242);
$paper-color: rgb(242,240,233);

$red: rgb(231,41,0);
$blue: rgb(36,148,209);
$blue: rgb(2,111,195);
$light-gray: #ccc;

$button-color: rgba($red,1);
$factoid-color: rgba($blue,0.8);

$story-color:  rgba(0,0,0,1);
$story-bg-color: rgba(255,255,255,0.5);
$story-bg-color: rgba(50,239,214,0.25);
$story-bg-color: rgba(233,197,129,0.35);

$sans-type: "Helvetica Neue", Helvetica, Arial, serif;
$serif-type: "Arnhem", Georgia, serif;

$text-color: rgba(0,0,0,1);



/*
@keyframes textcolormorph
{
0%     {background-color: #000;}
20%    {background-color: #096;}
40%    {background-color: #66F;}
60%    {background-color: #CC3;}
80%    {background-color: #C3C;}
100%   {background-color: #000;}
}

@-webkit-keyframes textcolormorph
{
0%     {background-color: #000;}
20%    {background-color: #096;}
40%    {background-color: #66F;}
60%    {background-color: #CC3;}
80%    {background-color: #C3C;}
100%   {background-color: #000;}
}
*/


@keyframes textcolormorph
{
0%     {background-color: rgba($blue,0.8);}
25%    {background-color: rgba(102,15,255,0.8);}
50%     {background-color: rgba($blue,0.8);}
75%    {background-color: rgba(9,6,255,0.8);}
100%   {background-color: rgba($blue,0.8)}
}

@-webkit-keyframes textcolormorph
{
0%     {background-color: rgba($blue,0.8);}
25%    {background-color: rgba(102,15,255,0.8);}
50%     {background-color: rgba($blue,0.8);}
75%    {background-color: rgba(9,6,255,0.8);}
100%   {background-color: rgba($blue,0.8);}
}

/******** End Variables **********************************************/

