$page-color-dark: rgba(0,0,0,0.025);
$page-color-light: rgba(255,255,255,1);

$red: rgb(231,41,0);
$blue: rgb(36,148,209);
$blue: rgb(2,111,195);
$light-gray: #ccc;

$button-color: rgba($red,1);
$factoid-color: rgba($blue,0.8);

$story-color:  rgba(0,0,0,1);
$story-bg-color: rgba(255,255,255,0.5);
$story-bg-color: rgba(50,239,214,0.25);
$story-bg-color: rgba(233,197,129,0.35);

$sans-type: "Helvetica Neue", Helvetica, Arial, serif;
$serif-type: "Arnhem", Georgia, serif;

$text-color: rgba(0,0,0,1);
