@font-face
  { 
  font-family: "Helvetica Neue"; 
  src: url('../type/HelveticaNeue-Bold.otf'); 
  font-style: normal;
  font-weight: 700;
  }
  
@font-face
  { 
  font-family: Arnhem; 
  src: url('../type/Arnhem-Bold.ttf'); 
  font-style: normal;
  font-weight: 700;
  }
  
@font-face
  { 
  font-family: Arnhem; 
  src: url('../type/Arnhem-Blond.ttf'); 
  font-style: normal;
  font-weight: 400;
  }
  
@font-face
  { 
  font-family: Arnhem; 
  src: url('../type/Arnhem-BoldItalic.ttf'); 
  font-style: italic;
  font-weight: 700;
  }
  
@font-face
  { 
  font-family: Arnhem; 
  src: url('../type/Arnhem-BlondItalic.ttf'); 
  font-style: italic;
  font-weight: 400;
  }


@import "variables";
@import "animations";
@import "fixed-positioning";
@import "elements";
@import "layout";


