@font-face { font-family: "Helvetica Neue"; src: url("../type/HelveticaNeue-Bold.otf"); }

@font-face { font-family: Arnhem; src: url("../type/Arnhem-Bold.ttf"); }

/***********************************************************************************/
/******** Begin Variables **********************************************************/
/***********************************************************************************/
/*
@keyframes textcolormorph
{
0%     {background-color: #000;}
20%    {background-color: #096;}
40%    {background-color: #66F;}
60%    {background-color: #CC3;}
80%    {background-color: #C3C;}
100%   {background-color: #000;}
}

@-webkit-keyframes textcolormorph
{
0%     {background-color: #000;}
20%    {background-color: #096;}
40%    {background-color: #66F;}
60%    {background-color: #CC3;}
80%    {background-color: #C3C;}
100%   {background-color: #000;}
}
*/
@keyframes textcolormorph { 0% { background-color: rgba(2, 111, 195, 0.8); }
  25% { background-color: rgba(102, 15, 255, 0.8); }
  50% { background-color: rgba(2, 111, 195, 0.8); }
  75% { background-color: rgba(9, 6, 255, 0.8); }
  100% { background-color: rgba(2, 111, 195, 0.8); } }

@-webkit-keyframes textcolormorph { 0% { background-color: rgba(2, 111, 195, 0.8); }
  25% { background-color: rgba(102, 15, 255, 0.8); }
  50% { background-color: rgba(2, 111, 195, 0.8); }
  75% { background-color: rgba(9, 6, 255, 0.8); }
  100% { background-color: rgba(2, 111, 195, 0.8); } }

/******** End Variables **********************************************/
/***********************************************************************************/
/******** Begin Fixed Positition Stylesheet ****************************************/
/***********************************************************************************/
html, body { width: 100%; height: 100%; padding: 0; margin: 0; overflow-x: hidden; }

.skrollable { /* First-level skrollables are positioned relative to window */ position: fixed; /* Skrollables by default have a z-index of 100 in order to make it easy to position elements in front/back without changing each skrollable */ z-index: 100; }

.skrollr-mobile .skrollable {                               /*
	May cause issues on Android default browser (see #331 on GitHub).
*/ position: absolute; }

.skrollable .skrollable { /* Second-level skrollables are positioned relative their parent skrollable */ position: absolute; }

.skrollable .skrollable .skrollable { /* Third-level (and below) skrollables are positioned static */ position: static; }

/******** End Fixed Positition Stylesheet ****************************/
/***********************************************************************************/
/******** Begin Elements Stylesheet ************************************************/
/***********************************************************************************/
/** General ****************************/
html, body, div, span, p, a, del, em, img, ol, ul, li, fieldset, form, label { margin: 0; padding: 0; border: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

html, body { min-height: 100%; background-color: #000; text-align: left; width: 768px; }

body { background: #fff; background-attachment: fixed; }

.button .closed { background-color: #e72900; width: 20%; height: 90px; left: 40%; top: 550px; }

/** Each Page ****************************/
.page { width: 768px; height: 1021px; top: 0px; border-bottom: 4px solid #cccccc; }
.page h1 { top: 100px; padding: 50px; -webkit-transform-origin: 0 0; -moz-transform-origin: 0 0; -ms-transform-origin: 0 0; -o-transform-origin: 0 0; transform-origin: 0 0; }

/** Bottom Nav ****************************/
.page-nav { bottom: 20px; position: fixed; height: 60px; width: 100%; opacity: 1; }

.nav-icon { background-color: rgba(0, 0, 0, 0.25); height: 60px; width: 60px; border-radius: 30px; position: absolute !important; top: 0px; }

.nav-icon:hover, .nav-icon:active { background-color: rgba(0, 255, 0, 0.15); background-color: rgba(0, 0, 0, 0.75); }

.previous { left: 30px; }

.next { right: 30px; }

.center { right: 354px; }

.beginning { left: 100px; }

/** Cutout Images ****************************/
.cutout { width: 100%; position: relative; top: 0px; }

/** Factoid Slider ****************************/
.factoid { z-index: 100; position: absolute; /* background-color: $factoid-color; */ -webkit-animation: textcolormorph 10s infinite ease-in-out; animation: textcolormorph 10s infinite ease-in-out; animation-duration: 5s; animation-play-state: paused; -webkit-animation-play-state: paused; }
.factoid p { padding: 0 45px 0 30px; display: block; font-family: "Helvetica Neue", Helvetica, Arial, serif; font-weight: 700; color: #fff; font-size: 17px; letter-spacing: 0.025em; line-height: 1.25em; margin: 0; margin-bottom: 12px; }
.factoid p:first-child { padding-top: 30px; }
.factoid p:last-child { padding-bottom: 45px; }

.factoid.hide { animation-play-state: running; -webkit-animation-play-state: running; }
.factoid.hide p { display: none; }

/** History *******/
.svg-draw { fill: none; stroke: black; stroke-dashoffset: 0; stroke-width: 8; /* stroke-linejoin:miter; stroke-linecap:square; display:inline; stroke-dasharray:6000;
*/ width: 240px; height: 240px; stroke-miterlimit: 10; stroke-opacity: 1; width: 240px; height: 240px; }

.svg-draw.fill { fill: black; stroke: black; stroke-width: 1; }

.svg-draw .red { stroke: #e72900; opacity: 0.5; }

.svg-draw.fill .red { stroke: #e72900; fill: #e72900; opacity: 0.5; }

.history p { /* display: inline; */ /* To make white hug text */ margin-top: 12px; margin-right: 9px; }
.history p:first-child { margin-top: 0px; }

.history { position: absolute; background-color: rgba(255, 255, 255, 0.75); padding: 24px; }

/** Story Modal ****************************/
.close { right: 20px; top: 20px; }

.modal { display: none; width: 708px; height: 956px; background: #f2f0e9; padding: 0; -webkit-border-radius: 5px; border-radius: 5px; }

.inset-story { width: 574px; height: 870px; position: fixed; top: 40px; left: 60px; overflow: auto; overflow-scrolling: touch; -webkit-overflow-scrolling: touch; padding: 80px 100px 0 0; margin: 0; }
.inset-story p { font-family: "Arnhem", Georgia, serif; color: black; font-size: 24px; font-weight: 400; line-height: 1.175; line-height: 1.35; margin-bottom: 12px; letter-spacing: 0.0125em; }
.inset-story p:last-child { margin-bottom: 100px; }

.story-fader { width: 620px; height: 80px; position: absolute; left: 20px; }

.story-fader.top { top: 0; background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #f2f0e9), color-stop(100%, rgba(242, 240, 233, 0))); background: -webkit-linear-gradient(top, #f2f0e9 50%, rgba(242, 240, 233, 0) 100%); background: linear-gradient(to bottom, #f2f0e9 50%, rgba(242, 240, 233, 0) 100%); }

.story-fader.bottom { bottom: 0; background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, #f2f0e9), color-stop(100%, rgba(242, 240, 233, 0))); background: -webkit-linear-gradient(bottom, #f2f0e9 50%, rgba(242, 240, 233, 0) 100%); background: linear-gradient(to top, #f2f0e9 50%, rgba(242, 240, 233, 0) 100%); }

/** Generic modifiers *******/
.back { z-index: 1 !important; }

.middle { z-index: 25 !important; }

.front { z-index: 50 !important; }

.flip-horiz { -webkit-transform: scaleX(-1); transform: scaleX(-1); }

.flip-vert { -webkit-transform: scaleY(-1); transform: scaleY(-1); }

/******** End Type Stylesheet ****************************************/
/***********************************************************************************/
/******** Begin Type Stylesheet ****************************************************/
/***********************************************************************************/
html, body, div, span, p, a, del, em, img, ol, ul, li, fieldset, form, label { font-size: 100%; vertical-align: baseline; }

html, body { line-height: 1.2em; font-family: "Helvetica Neue", Helvetica, Arial, serif; text-align: left; }

p { font-family: "Arnhem", Georgia, serif; color: black; font-size: 24px; font-weight: 400; line-height: 1.35; margin: 0; margin-bottom: 12px; letter-spacing: 0.0125em; }

/*Cover drek*/
.button p { font-family: "Helvetica Neue", Helvetica, Arial, serif; text-align: center; padding: 30px; color: white; font-size: 16px; font-weight: 700; line-height: 30px; }

h1, h2 { font-family: "Helvetica Neue", Helvetica, Arial, serif; color: black; font-weight: 400; padding: 0; margin: 0; }

h1 { font-size: 6em; margin: 0; }

h2 { color: inherit; font-size: 5em; line-height: 1.125em; letter-spacing: 0.009em; position: absolute; }

h2:first-child { margin-top: 0; }

.button p a { font-family: "Helvetica Neue", Helvetica, Arial, serif; color: #fff; text-decoration: none; }

/******** End Type Stylesheet ****************************************/
/***********************************************************************************/
/******** Begin Page Layout Stylesheet *********************************************/
/***********************************************************************************/
#progress {   /*width: 6px;
	height:1024px; right:0;*/ width: 768px; height: 12px; bottom: 0; background: #444; z-index: 51; }

#begin h2 { top: 120px; left: 60px; -webkit-transform-origin: 0 0; transform-origin: 0 0; }
#begin .cutout { -webkit-transform: rotate(0deg); transform: rotate(0deg); -webkit-transform-origin: 0 0; transform-origin: 0 0; top: -70px; }
#begin .icon { position: absolute; top: 560px; right: 56px; }
#begin #instructions { width: 600px; left: 41px; top: 195px; opacity: 0; }
#begin #factoid02 { width: 670px; height: 32px; top: 164px; left: 0px; }
#begin #factoid02 p { padding-top: 72px; margin-left: 36px; }
#begin .history { width: 615px; left: 42px; top: 195px; /*     p:first-child {background-color: #fff} */ }

#snowwhite {   /*
.svg-draw { position: absolute; top: 720px; }
*/ }
#snowwhite h2 { width: 600px; top: 682px; left: 60px; -webkit-transform-origin: 0 0; transform-origin: 0 0; -webkit-transform: rotate(-90deg); transform: rotate(-90deg); }
#snowwhite .icon { position: absolute; top: 342px; right: 14px; }
#snowwhite #factoid03 { width: 416px; height: 32px; top: 215px; right: 0px; }
#snowwhite .hideshow-text { width: 520px; left: 149px; top: 562px; }

#queen { /* #drag2 { position: absolute; top:780px; left:70px; width:580px; img { -webkit-transform: rotate(-15deg); display: block; }
*/ }
#queen h2 { width: 500px; top: 82px; left: 256px; left: 310px; top: 96px; left: 208px; }
#queen .icon { position: absolute; top: 770px; left: 90px; top: 690px; left: 495px; width: 580px; }
#queen .icon svg { -webkit-transform: rotate(-36deg); display: block; }
#queen #factoid04 { width: 32px; height: 260px; top: 488px; left: 0px; }
#queen #factoid04 p { width: 320px; }
#queen .hideshow-text { width: 680px; left: 59px; top: 400px; }

#huntsman h2 { width: 700px; top: 103px; left: 60px; }
#huntsman .icon { position: absolute; top: 642px; left: 270px; }
#huntsman #factoid05 { width: 395px; height: 32px; top: 312px; left: 0px; }
#huntsman .hideshow-text { width: 500px; left: 44px; top: 450px; }

#dwarves h2 { width: 600px; top: 309px; left: 300px; -webkit-transform: rotate(90deg); }
#dwarves .icon { position: absolute; top: 516px; left: 172px; }
#dwarves #factoid06 { width: 32px; height: 436px; height: 411px; top: 98px; right: 0px; }
#dwarves #factoid06 p { width: 360px; }
#dwarves .hideshow-text { width: 620px; left: 133px; top: 650px; }

#king h2 { width: 400px; top: 125px; left: 178px; text-align: center; }
#king h2.second { top: 214px; left: 188px; }
#king .icon { position: absolute; top: 461px; left: 34.5%; }
#king #factoid07 { width: 50%; height: 32px; top: 154px; left: 25%; }
#king #factoid07 p { padding-top: 180px; }
#king .hideshow-text { width: 740px; left: 20px; top: 40px; }

#sin h2 { top: 570px; left: -116px; -webkit-transform: rotate(-90deg); }
#sin .icon { position: absolute; top: 7%; left: 33%; }
#sin .story { width: 510px; left: 175px; left: 155px; top: 1024px; }
#sin #factoid08 { width: 330px; height: 32px; top: 635px; right: 0px; }
#sin .hideshow-text { width: 366px; width: 440px; width: 680px; left: 20px; top: 196px; }

#prince h2 { width: 500px; top: 448px; left: 32px; }
#prince .icon { position: absolute; top: 15%; left: 32%; -webkit-transform: rotate(-4deg); }
#prince #factoid09 { width: 32px; height: 133px; top: 724px; right: 0px; }
#prince #factoid09 p { width: 550px; }
#prince .hideshow-text { width: 658px; left: 12px; top: 410px; }

#moral h2 { width: 480px; top: 154px; left: -48px; -webkit-transform: rotate(90deg); }
#moral .icon { position: absolute; top: 52%; left: 31%; -webkit-transform: rotate(0deg); }
#moral .story { width: 645px; left: 39px; left: 19px; top: 1024px; }
#moral #factoid10 { width: 300px; height: 32px; top: 693px; right: 0px; }
#moral .hideshow-text { width: 460px; left: 146px; left: 236px; top: 20px; }

#end h2 { width: 50%; top: 45%; left: 25%; text-align: center; }
#end .icon { position: absolute; top: 19%; left: 34%; }
#end #factoid11 { width: 430px; height: 32px; top: 310px; left: 170px; }
#end .hideshow-text { width: 390px; left: 10px; top: 360px; }

/******** End Page Layout Stylesheet *********************************/
