$scale-frame: 1;
$scale: 0.668;

html, body {background-color: #555;
    height:1200px;
}

#hands {;
  position: fixed;
  top: 31px;
  left: 50%;
  margin-left: -553px;
  width:1103px;
  height:1200px;
  padding:0;
  overflow:hidden;
  
  img {width: 100%; }
  
  }
  
  #iFramer {
  background-color: #fff;
  position: fixed;
  top: 99px;
  left: 50%;
  margin-left: -256px;
  height: 682px;
  width: 512px;
  padding:0;
  overflow:hidden;
  
  iframe {
    border:none;
    width: 768px;
    height: 1024px;
    }
    
  #scalediFrame {
    zoom: $scale-frame;
    -moz-transform: scale($scale);
    -moz-transform-origin: 0 0;
    -o-transform: scale($scale);
    -o-transform-origin: 0 0;
    -webkit-transform: scale($scale);
    -webkit-transform-origin: 0 0;  
    }
  
}

@media screen and (-webkit-min-device-pixel-ratio:0) {

#scaled-frame  { zoom: 1;  }

}